.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused .content {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}

.panel {
	-fx-background-color : #FFFFFF;
}

.label-score {
	-fx-font-family: Arial;
	-fx-font-size: 14px;
}

.label-guessedWord {
	-fx-font-family: Arial;
	-fx-font-weight:bold;
	-fx-font-size: 20px;
	-fx-text-fill: blue;
}

.button {
	-fx-background-color : lightblue   ;
	 
	
	
}